<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>

<body>
    {{{body}}}

    <div class='footer-item'>
        <p>Follow me! <a href='https://twitter.com/reallymello'>@reallyMello</a> and subscribe on <a href='https://www.youtube.com/watch?v=6Ufg6pPNVTs&list=PLLS_Ef55N6hmkt3-JlW40GAGpXSlp8t_D'>YouTube</a> for more testing tutorials.</p>
    </div>
</body>

</html>
