body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.footer-item {
    position: relative;
}

.footer-item p {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: -100px;
    opacity: .75;
}
